
.dropzone-label {
  display: block;
  border-radius: 10px;
  padding: 20px;
  border: 2px dashed #ccc;
  cursor: pointer;
  @media (prefers-color-scheme: dark) {
    border-color: #666;
  }
}

.highlight {
  background-color: #eee;
  border-color: green;

}
